{% extends "BpopWebsiteBundle::layout.html.twig" %}

{% block body %}

    <h3>Ceci est la page d'écoute</h3>
    
    {{ include("BpopWebsiteBundle:Music:formAddSong.html.twig") }}
    
    {% for record in recordings %}
        <div class="record">
            <h5>{{ record.title }}</h5>
            <audio controls>
                <source src="{{ asset(record.webPath) }}" type="audio/mp3">
            </audio>
        </div>
    {% else %}
        <span>There is not any record</span>
    {% endfor %}
    
    {{ render(controller("BpopWebsiteBundle:UpcomingDates:upcoming")) }}

{% endblock %}