<div class="panel panel-default">
    <div class="panel-heading">Concerts à venir</div>
    <div class="list-group">
        {% for concert in concerts %}
            <div class="list-group-item">{{ concert }}</div>
        {% else %}
            <div class="list-group-item">Aucun concert prévu</div>
        {% endfor %}
    </div>
</div>
